
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Search App</title>

   
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/signUp.js"></script>
   
  </head>

  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Search App</h1>
        <form class="form-signin">
          <label for="inputName" class="sr-only">Search</label>
          <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Search" required autofocus>
        
          <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Search</button>
        </form>
      </div>
    </div>
  </body>
</html>

